{% extends 'todo/base.html'%}

{% block body %}
<a href="{% url 'add' %}">(+)Add task</a>

<h1>Tasks</h1>
{% if error_message %} 
  <p>{{error_message}}</p>
{% endif %}

{% if object_list %}
    {% for task in object_list %}
      <div class="row">
      <label for="task{{forloop.counter}}">
        
        <p>Task name: <a href="{% url 'detail' task.id %}">{{task.task_name}}</a>  - 
        <a href="{% url 'update' task.id %}">Edit</a> -
        
        <a href="{% url 'delete' task.id %}">Delete</a></p>

      </label>
      </div>
    {% endfor %}
  

  <!-- <ul> -->
    <!-- {% for task in all_tasks %} -->
      <!-- <li><a href="{% url 'detail' task.id %}">{{task.task_name}}</a></li> -->
      <!-- <li><a href="/todo/{{task.id}}/">{{task.task_name}}</a></li> -->
    <!-- {% endfor %} -->
  <!-- </ul> -->
{% else %}
  <p>There are no tasks.</p>
{% endif %}

{% endblock %}